%h1
  Meet the Team
%p

  %table
    %tr
      %td{ :style => "width:250px"}
        %h2 Peter Kinmond
        %ul
          %li email: peterkinmond{AT}gmail.com
          %li
            twitter:
            = link_to '@peterkinmond', 'https://twitter.com/#!/peterkinmond'
          %li
            github:
            = link_to 'peterkinmond', 'https://github.com/peterkinmond'
      %td{ :style => "width:200px"}
        %h2 Ryan Weald
        %ul
          %li email: ryan{AT}weald.com
          %li
            twitter:
            = link_to '@rweald', 'https://twitter.com/#!/rweald'
          %li
            github:
            = link_to 'rweald', 'https://github.com/rweald'
      %td{ :style => "width:300px"}
        %h2 Wayne Mak
        %ul
          %li email: makwayne{AT}gmail.com
          %li
            twitter:
            = link_to '@waynemak', 'https://twitter.com/#!/waynemak'
          %li
            github:
            = link_to 'waynemak', 'https://github.com/waynemak'

  %img{ :src => '/images/team_brandgauge.jpg'}